@page
@model WebApp.Pages.CheckoutModel
@{
    decimal productsTotal = Model.CartItems.Sum(cartItem => cartItem.Price * cartItem.Quantity);
    decimal shippingCost = false ? 0 : 10;
    decimal generalDiscount = Math.Round(Model.GeneralDiscount.GetGeneralDiscount(productsTotal), 2);
    decimal minimumPurchaseDiscount = Math.Round(Model.MinimumPurchaseDiscount.GetMinimumPurchaseDiscount(productsTotal), 2);
    decimal totalDiscount = generalDiscount + minimumPurchaseDiscount;
    decimal initialTotalPrice = productsTotal + shippingCost - totalDiscount;

    bool isVIP = false;
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <form method="POST" autocomplete="off">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Contact Information</h5>
                        </div>
                        <div class="card-body p-3">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Customer.Name"></label>
                                <span class="text-danger" asp-validation-for="Customer.Name"></span>
                                <input class="form-control" asp-for="Customer.Name">
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Customer.Email"></label>
                                <span class="text-danger" asp-validation-for="Customer.Email"></span>
                                <input class="form-control" asp-for="Customer.Email">
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Address</h5>
                        </div>
                        <div class="card-body p-3">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Address.AddressLine"></label>
                                <span class="text-danger" asp-validation-for="Address.AddressLine"></span>
                                <input class="form-control" asp-for="Address.AddressLine">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Address.PostalCode"></label>
                                <span class="text-danger" asp-validation-for="Address.PostalCode"></span>
                                <input class="form-control" asp-for="Address.PostalCode">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Address.City"></label>
                                <span class="text-danger" asp-validation-for="Address.City"></span>
                                <input class="form-control" asp-for="Address.City">
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" asp-for="Address.Country"></label>
                                <span class="text-danger" asp-validation-for="Address.Country"></span>
                                <input class="form-control" asp-for="Address.Country" disabled value="@Model.Address.Country">
                            </div>
                        </div>
                    </div>

                    <!-- Payment Method Section -->
                    <div class="col-mb-4">
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Payment Method</h5>
                            </div>
                            <div class="card-body p-3">
                                <span class="text-danger" asp-validation-for="SelectedPaymentMethod"></span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="creditcard" asp-for="SelectedPaymentMethod">
                                    <label class="form-check-label" for="creditcard">
                                        Credit Card
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="paypal" asp-for="SelectedPaymentMethod">
                                    <label class="form-check-label" for="paypal">
                                        PayPal
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body cart-summary">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Products
                                    <span>€@productsTotal</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Shipping
                                    <span>@(isVIP ? "Free" : "€10,00")</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Transaction fees
                                    <span id="transactionFees">€0.00</span>
                                </li>
                                @if (generalDiscount > 0 || minimumPurchaseDiscount > 0)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-success">
                                        <div class="w-100">
                                            <strong>DISCOUNT</strong>
                                            @if (generalDiscount > 0)
                                            {
                                                <div class="d-flex justify-content-between">
                                                    <span>General discount</span>
                                                    <span>- €@generalDiscount</span>
                                                </div>
                                            }
                                            @if (minimumPurchaseDiscount > 0)
                                            {
                                                <div class="d-flex justify-content-between">
                                                    <span>Threshold Purchase Discount</span>
                                                    <span>- €@minimumPurchaseDiscount</span>
                                                </div>
                                            }
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                    </div>
                                    <span>
                                        <strong id="total-price">€@initialTotalPrice</strong>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <p><strong>Expected shipping delivery</strong></p>
                            <p class="mb-0">@DateTime.Today.AddDays(1).ToString("dd.MM.yyyy") - @DateTime.Today.AddDays(3).ToString("dd.MM.yyyy")</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Make order
                            </button>
                        </div>
                    </div>
                    <input type="hidden" id="total-products_price" value="@productsTotal" />
                    <input type="hidden" id="initial-total-price" value="@initialTotalPrice" />
                    <input type="hidden" id="total-discount" value="@totalDiscount" />
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var totalProductsPrice = parseFloat(document.getElementById("total-products_price").value.replace(',', '.'));

            var radioButtons = document.querySelectorAll('input[name="SelectedPaymentMethod"]');
            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('change', function (event) {
                    var selectedPaymentMethod = event.target.value;
                    var transactionFees = calculateTransactionFees(totalProductsPrice, selectedPaymentMethod);
                    updateTransactionFeesUI(transactionFees);
                });
            });
        });

        function calculateTransactionFees(amount, paymentMethod) {
            if (paymentMethod === "creditcard") {
                return amount * 0.02;
            } else if (paymentMethod === "paypal") {
                return amount * 0.03;
            }
            return 0;
        }

        function updateTransactionFeesUI(fees) {
            var transactionFeesElement = document.getElementById("transactionFees");
            transactionFeesElement.textContent = "€" + fees.toFixed(2);

            var initialTotalPrice = parseFloat(document.getElementById("initial-total-price").value.replace(',', '.'));
            var newTotalAmount = initialTotalPrice + fees;
            var totalAmountElement = document.getElementById("total-price");
            totalAmountElement.textContent = "€" + newTotalAmount.toFixed(2);
        }
    </script>
}
