@page
@model WebApp.Pages.ProductModel
@{
    @Html.AntiForgeryToken();
}

<section class="py-3">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://via.placeholder.com/650x500">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="https://via.placeholder.com/650x500" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://via.placeholder.com/100x100" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="https://via.placeholder.com/100x100" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://via.placeholder.com/100x100" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="https://via.placeholder.com/100x100" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://via.placeholder.com/100x100" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="https://via.placeholder.com/100x100" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://via.placeholder.com/100x100" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="https://via.placeholder.com/100x100" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://via.placeholder.com/100x100" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="https://via.placeholder.com/100x100" />
                    </a>
                </div>

            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">@Model.Product.Name</h4>
                    <p>@Model.Product.Category</p>
                    
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.Product.SalesCount orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">€@Model.Product.Price</span>
                    </div>

                    <p>
                        @Model.Product.Description
                    </p>

                    <div class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">Regular</dd>

@*                         <dt class="col-3">Color</dt>
                        <dd class="col-9"></dd> *@

                        <dt class="col-3">Ingrediants</dt>
                        <dd class="col-9"></dd>
                    </div>

                    <hr />

                    <div class="row mb-4">
    @*                        <div class="col-md-4 col-6">
                            <label class="mb-2">Size</label>
                            <select class="form-select border border-secondary" style="height: 35px;">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div> *@
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" onclick="OnClickDecreaseQuantity()">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="form-control text-center border border-secondary form-control-quantity" value="1" />
                                <button class="btn btn-white border border-secondary px-3" onclick="OnClickIncreaseQuantity()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-success mt-2" onclick="OnClickBuyNow()">Buy Now</button>
                    <button class="btn btn-warning mt-2" onclick="OnClickAddToCart()"><i class="me-1 fa fa-shopping-basket"></i> Add to cart</button>

                </div>
            </main>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function OnClickIncreaseQuantity() {
            var quantityInput = document.querySelector('.form-control-quantity');
            quantityInput.value = parseInt(quantityInput.value) + 1;
        };

        function OnClickDecreaseQuantity() {
            var quantityInput = document.querySelector('.form-control-quantity');
            var newValue = parseInt(quantityInput.value) - 1;
            if (newValue > 0) {
                quantityInput.value = newValue;
            }
        };

        function OnClickBuyNow() {
            var dataToSend = {
                ProductId: @Model.Product.Id,
                Quantity: document.querySelector('.form-control-quantity').value
            };

            fetch('/Product?handler=AddToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => {
                if (response.ok) {
                    return response.text().then(data => {
                        window.location.href = '/Cart';
                    });
                } else {
                    return response.text().then(errorMessage => {
                        window.location.href = '/Index';
                        throw new Error(errorMessage)
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function OnClickAddToCart() {
            var dataToSend = {
                ProductId: 4,
                Quantity: document.querySelector('.form-control-quantity').value
            };

            fetch('/Product?handler=AddToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then(errorMessage => {
                        window.location.href = '/Index';
                        throw new Error(errorMessage);
                    });
                }
            })
            .then(data => {
                UpdateCartBadge();
                alert("Product added to cart.");
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

    </script>
}