@page
@model FamilymadeShopApp.Pages.ProductListingPageModel
@{
    string search = Model.SearchTerm;
    int pageIndex = Model.PageIndex;
    int productsPerPage = 2;
    int totalProducts = Model.ProductManager.GetProductsCount(search);
    int totalPages = (int)Math.Ceiling((double)totalProducts / productsPerPage);
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            @foreach (var product in Model.ProductManager.GetAll(search, pageIndex))
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100">
                        <img src="https://via.placeholder.com/650x500" class="card-img-top" alt="" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="text-center">
                                <a class="text-decoration-none product-text-title" asp-page="Product" asp-route-id="@product.Id">@product.Name</a>

                            </h5>
                            <div class="mt-auto">
                                <div class="d-flex justify-content-between mt-3">
                                    <p class="small m-0"><a href="#!" class="text-muted">@product.Category</a></p>
                                    <h5 class="text-dark text-center m-0">€@product.Price</h5>
                                </div>

                                <div class="mt-auto">
                                    <p class="text-muted mb-0">Stock: <span class="fw-bold">@product.Stock</span></p>
                                    <div class="ms-auto text-warning text-center mt-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <nav class="mt-4" aria-label=" ">
            <ul class="pagination justify-content-center">
                <li class="page-item @(pageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" href="?PageIndex=@(pageIndex - 1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(pageIndex == i ? "active" : "")">
                        <a class="page-link" href="?PageIndex=@i">@i</a>
                    </li>
                }
                <li class="page-item @(pageIndex == totalPages ? "disabled" : "")">
                    <a class="page-link" href="?PageIndex=@(pageIndex + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>